<table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
       style="margin: auto"
       class="tableFooter">

    <tr>
        <td align="center" style="text-align: center;">
            <hr>
            <p class="gray" style="color:#666" color="#666">
                © {{ "now"|date("Y") }} {{ teamSite }}
            </p>
        </td>
    </tr>
</table>

</body>
</html>