<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ teamSite }} - Conferma registrazione</title>
    <style type="text/css">
        body {
            padding-top: 0px !important;
            padding-bottom: 20px !important;
            margin:0 auto !important;
            -webkit-font-smoothing: antialiased !important;
            font-family:Helvetica, Arial,serif !important;

        }
        .tableContent td {
            font-size: 18px;
        }
        .tableContent img {
            border: 0 !important;
            outline: none !important;
        }
        a{
            color:#3d5588;
        }
        a.link1 {
            color:#3d5588;
        }
        p, li {
            margin-bottom: 15px;
            line-height: 150%;
        }

        .tableFooter {

        }
        .tableFooter td {
            font-size: 14px;
        }

        @media (min-width: 768px) {
            body {
                width: 70% !important;
                -webkit-text-size-adjust: 70%;
                -ms-text-size-adjust: 70%;
            }
        }

    </style>

</head>
<body align="center"
      style="padding-top: 0px; padding-bottom: 0px;
      -webkit-font-smoothing: antialiased;
        text-align: center">

<table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="30" align="center"
       style="margin: auto"
       class="tableHeader">
    <tr>
        <td align="center">
            <img src="{{ liveSite }}{{ basePath }}/img/ep-logo-p.png" width="150" align="center">
        </td>
    </tr>
</table>