{% extends 'base.html.twig' %}

{% block body %}
<main>
    <article>
        <header>
            <h2>Statistiche</h2>
        </header>
        <div class="card shadow">
            <div class="card-body">
                lurem ipsum

            </div>
        </div>


    </article>
</main>
{% endblock %}
